.Dungeons-Container {
    margin-top: 20px;
}

.SelectedRealms-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SelectedRealms-label {
    margin-bottom: 5px;
    font-size: 1.4rem;
    text-align: center;
}

.SelectedRealms-selectForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    width: 250px;
}

.SelectedRealms-select-input {
    padding: 10px;
    border: 2px solid #0056b3;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: background-color 0.3s ease;
}

.SelectedRealms-selectForm select:hover {
    background-color: #e2e2e2;
}

.SelectedRealms-selectForm select:focus {
    background-color: #cacaca;
    border: 2px solid #0056b3;
}

.SelectedRealms-btn {
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.SelectedRealms-btn:hover {
    background-color: #0056b3;
    color: white;
}

.SelectedRealms-heading {
    display: flex;
    justify-content: center;
}

.LeaderBoardCard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.keystone-table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px 0 #000;
    color: black;
    font-size: 1rem;
}
